

/* 

Website work 1

description

Kennedy Heiden, 11/3/25


additional comments


*/


    body {

 /* see https://developer.mozilla.org/en-US/docs/Web/CSS/font for more about fonts */

 /* also https://fonts.google.com for additional fonts */

      font-family: Open sans, Lora;

      background-color: #F5EBCF;

      text-align: center;

      margin: 0;

      padding: 0;

    }

/*==========navigation============== */

    nav {

      background-color:#6a994e;

      padding: 10px 0;


     /*flexible box layout see: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout */

      display: flex;

   

     /*  align items along the main axis of a flex container */

  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */

      justify-content: center;

   

/*define the spacing between rows and columns in layout models */

  /* see https://developer.mozilla.org/en-US/docs/Web/CSS/gap*/

      gap: 10px;

    }

/* default navigation */

    nav button {

      background-color: #a7c957;

      color: dark gray;

      border: none;

      padding: 10px 20px;

      cursor: pointer;

      font-size: 18px;

   

     /* seehttps://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/

      border-radius: 5px;
    }

/* navigation button hover style */

    nav button:hover {

      background-color: #dabfff;

  

    }

/* active page button */

    nav button.active {

      background-color: #f2e8cf;

    }

/*==========content============== */

    .page {

      display: none;

      padding: 40px;

    }

    .page.active {

      display: block;

    }